.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc((var(--main-width) + var(--gap) * 2) * var(--content-width-multiplier, 1));
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: calc(40px * var(--font-size-multiplier, 1));
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a .icon {
    --icon-size: 26px;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.icon svg {
    width: var(--icon-size, 24px);
    height: var(--icon-size, 24px);
    shape-rendering: crispEdges;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
