{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <div class="entry-header-wrapper">
            {{ partial "icon.html" (dict "name" "music-audio/music-headphones-human" "class" "home-info-icon" "size" 72 "ariaHidden" true) }}
            <h1>{{ .Title | markdownify }}</h1>
        </div>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
